body {
}
.quem-somos{
    background-color: #4800ff;
    color: white;
}
.margin{
    padding-top: 30px;
    padding-bottom: 30px;
}
.parceiros{
    background-color: #808080;
    padding-top: 30px;
    color: white;
}
.bg-footer{
    background-color: black;
    color: white;
}